<h1>Send Text Message</h1>
 
<%= form_for @text do |f| %>
  <% if @text.errors.any? %>
    <ul>
    <% @text.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <% if @sent %>
    <ul>
      <li><%= 'Text message sent.' %></li>
    </ul>
  <% end %>
 
  <p><%= f.label :to %><br>
  <%= f.text_field :to%></p>
 
  <p><%= f.label :message %><br>
  <%= f.text_area :message%></p>
 
  <%= f.submit 'Send'%>
<% end %>